# Frontend Environment Variables
VITE_API_URL=http://localhost:5000/api
VITE_CESIUM_ION_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIxY2RmODZlNS1lNzMxLTQ1ZTItYjJhNC1hZjdmNTYxYjE1YzkiLCJpZCI6NDQzOTYzLCJpc3MiOiJodHRwczovL2FwaS5jZXNpdW0uY29tIiwiYXVkIjoidW5kZWZpbmVkX2RlZmF1bHQiLCJpYXQiOjE3ODEzNDI2ODF9.9tm4o8XwwDltJ6FWvG8kbQgzCBmaUghiyJvoIhOPIak

# API Keys (these would normally come from backend, but frontend can access public APIs)
VITE_NASA_API_KEY=dgGsulU3d9I21XMizphe2CVvciHfXgYOZnQtuC6P
VITE_ASTRONOMY_APP_ID=3e9c6c7c-f15f-4017-9cf4-c36c5f42d917
VITE_ASTRONOMY_APP_SECRET=b7f83166cf8eb0306616a661d13a5d954e80434d34d3e0a32d3ab41d02474003a52ffc74950ec4453d1f5d462de3761b24ad2f9fdf159f2272f3146c6c1ef877375105dca9dab7c10af614e93285233845f5735a43a5e2979c0c7598a9eebbf1cfdf6a4a7b116d81559efaafff934f03
